<div class="progress-bar-view">
  <mat-progress-bar *ngIf="showLoader" mode="indeterminate"></mat-progress-bar>
</div>
<div *ngIf="movie; else emptyMessage" [style.backgroundImage]="'url('+ backgroundImg + movie.backdrop_path +')'" class="view-container empty-message">
  <div class="movie-detail">
    <div class="movie-data">
      <h2>{{movie.title}}</h2>
      <p class="release_date">
        <span *ngIf="movie.release_date" matTooltip="Release Date">
          <mat-icon class="bottom-text">date_range</mat-icon>
          {{movie.release_date | date : 'dd, MMM yyyy'}}
        </span>
        <span *ngIf="movie.vote_average" matTooltip="User Score">
          <mat-icon class="bottom-text">favorite</mat-icon>
          {{movie.vote_average * 10}}%
        </span>
      </p>
      <h3 *ngIf="movie.overview">Overview</h3>
      <p>{{movie.overview ? movie.overview : ''}}</p>
    </div>
    <div class="movie-image">
      <img src="{{imagePath}}{{movie.poster_path}}" (error)="imgError($event);" alt="{{movie.title}}">
    </div>
  </div>
</div>
<ng-template #emptyMessage>
  <div class="view-container empty-message">Select a Movie for More Detail.</div>
</ng-template>