.view-container {
    height: 100%;
    background-color: #cccccc; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  box-shadow: inset 0 0 0 100000px rgba(27, 22, 22, 0.86);
  color: #fff;
}

.movie-detail {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    overflow: auto;
    margin-top: 10px;
}

.empty-message {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-bar-view{
    position: absolute;
    top: 0px;
    z-index: 99;
    background: #fff;
    left: 0px;
    right: 0px;
}

.movie-image img{
    display: block;
    width: 200px;
    height: 350px;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    border-radius: 4px;
}

.movie-data {
    padding: 0px 30px 0px 45px;
    width: 560px;
}

.movie-data h2 {
    margin: 0;
    padding: 0;
    font-size: 2.4em;
    line-height: 1.1em;
    font-weight: 700;
    display: inline-block;
}

.movie-data h3{
    font-weight: 600;
    line-height: 1.3em;
    font-size: 1.3em;
}

.movie-data .release_date {
    opacity: 0.6;
    font-size: 1.7em;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
}

.release_date span {
    margin-right: 30px;
}