.list-container {
    height: 90.9vh;
    overflow: auto;
    padding-top: 100px;
    padding-bottom: 25px;
}

.card-footer {
    padding: 10px;
    margin: 0 0px 10px;
    border-top: 1px solid #eee;
    margin-top: 20px;
    background-color: transparent;
    border: 0;
    border-top: 1px solid #eee;
    display: flex;
    justify-content: space-between;
}

.bottom-text {
    display: flex;
    color: #999;
    font-size: 14px;
    line-height: 22px;
}

.card-image {
    border-radius: 3px;
    margin-top: -50px !important;
    margin-right: 15px;
    float: left;
}

.card-image img {
    width: 125px;
}

.card-container {
    background-image: radial-gradient(circle at 20% 50%, rgba(232, 145, 9, 0.18) 0%, rgb(255, 255, 255) 100%);
    cursor: pointer;
    min-height: 160px;
}

.movie-titel{
    font-size: 15px;
    font-weight: bold;
    text-align: justify;
}

.movie-overView {
    font-size: 14px;
    /* text-align: justify; */
    color: #888888;
}

.movie-list-title {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 15px;
    z-index: 99;
    background: #fff;
    left: 0px;
    right: 0px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2);
    border-bottom: 1px solid #e2e2e2;
}

.while-empty {
    display: flex;
    justify-content: center;
    align-items: center;
}