<div class="container-fluid list-container" [ngClass]="{'while-empty': !movies.length}">
  <div class="movie-list-title">
    <span *ngIf="isSearchMovie">Search Results</span>
    <span *ngIf="treandingMovies">Treanding Movies</span>
  </div>
  <div class="progress-bar">
    <mat-progress-bar *ngIf="showLoader" mode="indeterminate"></mat-progress-bar>
  </div>
  <div *ngIf="movies.length; else emptyMessage">
    <mat-card [ngClass]="{'loader-opacity': showLoader}" class="margin-bottom-40 card-container" *ngFor="let movie of movies" (click)="openMovie(movie)">
      <div class="card-image">
        <img src="{{imagePath}}{{movie.poster_path}}"  (error)="imgError($event);" alt="{{movie.title}}">
      </div>
      <div class="movie-titel">{{movie.title}}</div>
      <p class="movie-overView">{{movie.overview ? trimString(movie.overview, 120) : ''}}</p>
      <mat-card-actions class="card-footer">
        <span class="bottom-text">
          <mat-icon class="bottom-text">favorite</mat-icon>
          {{movie.vote_average * 10}}%
        </span>
        <span class="bottom-text">
          <mat-icon class="bottom-text">date_range</mat-icon>
          {{movie.release_date | date : 'dd, MMM yyyy'}}
        </span>
      </mat-card-actions>
    </mat-card>
  </div>
  <ng-template #emptyMessage>
    There is no movies to display...
  </ng-template>
</div>
<div style="position: absolute; left: 0px; right: 0px; bottom: 0px; box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
border-top: 1px solid #e2e2e2;">
  <mat-paginator [length]="length" [(pageIndex)]="pageIndex" (page)="pageEvent = $event; mPageEvent($event)" [pageSize]="20"></mat-paginator>
</div>