<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 padding-0 nav-header">
      <app-movie-search></app-movie-search>
    </div>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 padding-0 list-view-container">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 padding-0">
        <app-movie-list></app-movie-list>
      </div>
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12 padding-0 scroller">
        <app-movie-view></app-movie-view>
      </div>
    </div>
  </div>
</div>