.search-form {
    width: 60%;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 70px;
    background-image: linear-gradient(to left top, #ff9443, #ff9443, #ff704e, #ff4661);
    /* background: #f9aa33; */
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    z-index: 99;
}

.m-paginator-container {
    position: absolute;
    width: 37vw;
    /* left: 0px; */
    /* right: 0px; */
    bottom: -25px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    border-top: 1px solid #e2e2e2;
}

.search-input{
    background: #4a4a4a5e;
    border-radius: 4px;
    height: 51px;
    padding: 0px 2px;
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 7px;
}