<nav class="search-container" color="primary">
  <mat-form-field class="search-form search-input">
      <mat-label>Search</mat-label>
    <input type="text" color="accent" matInput placeholder="Search for a Movie" (keyup)="keyUp.next($event.target.value)">
    <mat-icon  color="primary" matSuffix>search</mat-icon>
  </mat-form-field>
</nav>