/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */

.padding-0 {
    padding: 0px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-3 {
    margin-top: 3px;
}

.margin-bottom-10{
    margin-bottom: 10px;
}

.margin-bottom-40{
    margin-bottom: 40px;
}

.list-view-container {
    display: flex;
    flex-wrap: wrap-reverse;
    margin-top: 70px;
}

.loader-opacity {
   opacity: 0.5;
    cursor: default;
}
.nav-header {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 9999;
}
.progress-bar{
    position: absolute;
    top: 55px;
    z-index: 99;
    background: #fff;
    left: 0px;
    right: 0px;
}

.scroller {
    overflow: auto;
}